body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pink {
  color: hotpink;
  font-weight: bold;
  margin: 10px 10px 30px 10px;
}

#green {
  color: green;
  font-weight: bold;
  margin: 10px 10px 30px 10px;
}

#pink-btn {
  margin: 10px 10px 30px 30px;
  padding: 10px;
  background-color: pink;
  border-color: pink;
}

#green-btn {
  margin: 10px 30px 30px 10px;
  padding: 10px 12px;
  background-color: lightgreen;
  border-color: lightgreen;
}

#response-div {
  border: 2px solid grey;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#reaction-btns {
  display: inline-block;
  text-align: center;
  margin: 30px;
}

#tiny-font {
  font-size: 11px;
  float: right;
}